<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS,用来加入参考配色 -->
    {% include "html_refer.html" %}


    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">

            <!-- 登陆后显示用户名 -->
            <center>
                {% if session['email'] %}
                <h3 class="title" ,href="/home">{{session['name']}}</h3>
                {% endif %}

                {% if not session['email'] %}
                <h3 class="title">Welcome</h3>
                {% endif %}
            </center>

            <!-- 下拉式按钮来进行操作集合 -->

            <!-- 账号栏的操作 -->
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    账号
                </button>
                <div class="dropdown-menu">

                    {% if session['email'] %}
                    <!-- 登录状态 -->
                    <a class="dropdown-item">{{session['email']}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/change_email">更改邮箱</a>
                    <a class="dropdown-item" href="/logout">退出用户</a>

                    {% else %}
                    <!-- 未登录状态 -->
                    <a class="dropdown-item" href="/login">登录</a>
                    <a class="dropdown-item" href="/register">注册</a>

                    {% endif %}
                </div>
            </div>

            {% if session['email'] %}
            <!-- 监听货币的操作 -->
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    通知
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/alert_manage">通知管理</a>
                    <a class="dropdown-item" href="/create_alert">新增通知</a>
                </div>
            </div>
            {% endif %}

            <button type="button" class="btn btn-info btn-home"><a href="/home">汇率主页</a></button>
        </div>
    </header>


    {% block content %}
    <!--用来插入 被其他主页继承 显示表格-->
    {% endblock %}


    <footer class="mastfoot mt-auto">
        <div class="inner">
            Our small step today will be a big step
            <p>by <a href="https://github.com/whitefly/money_rate">author</a>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
